---
layout: default
title: Archive
lang: en
permalink: /en/archive/
---

<div class="container archive-container">
  {% assign english_posts = site.posts | where: "lang", "en" %}
  {% assign posts_by_year = english_posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <div class="archive-year">
      <h2>{{ year.name }}</h2>
      <ul class="archive-posts">
        {% for post in year.items %}
          <li class="archive-post-item">
            <span class="archive-post-date">{{ post.date | date: "%m.%d" }}</span>
            <span class="archive-post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
